
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: "Roboto", sans-serif;
  text-align: Left;
}
.Container {
  padding: 1rem;
}

/* App.css */
body {
  
 }
 
 .boxofbuttons{
  display: flex;
  flex-direction: row;
 }

 .threebtn{
  width: 45vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
 }
 .threebtn button{
  position: absolute;
  width: 10vw;
  height: 7vh;
  bottom: 15vh;
  border-radius: 15px;
  margin-left: 2vw;
  margin-right: 2vw;
  

 }

 .buttons{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
 }

 .homeBackground{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('./assets/Parcha.co.png');
  /* opacity: 0.9; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }

 .buttonMargin{
  margin: 30px;
 }

 .backgroundblack{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
 }